body {
    background-image: linear-gradient(lightblue 10%, white 90%);
    background-repeat: no-repeat;
}

.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    min-height: 100vh;
}

#main-picture {
    width: 200px;
    height: 300px;
    border-radius: 5px;
}

.tab-logo {
    border: 2px solid;
    min-width: 40%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.icon a {
    font-size: 40px;
    text-decoration: none;
    color: black;
}

.tab-content {

    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.tab-content p {
    font-size: 1em;
    width: 80%;
}

.container button {
    width: fit-content;
    font-size: 0.5em;
    padding: 10px;
}